*{
    margin:0px;
    padding:0px;
}
body{
    padding:10px;
}
ul,li{
    list-style: none;
}
.red{
    color: red;
}
.green{
    color:green;
}
.d-i-b{
    display: inline-block;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.tlc{
    text-align: center;
}
.tdu{
    text-decoration: underline;
}
.fwb{
    font-weight: bolder;
}
.footer{
    position: fixed;
    width: 100%;
    height: 35px;
    line-height: 35px;
    bottom: 10px;
    background: lightgrey;
    
}
